.payment-container {
    width: 30%;
    margin: auto;
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}


.pricing-page {
    text-align: center;
    padding: 40px;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(13 15 18), rgb(14 19 34)), linear-gradient(7.52deg, #0d0d0f 3%, rgb(13 14 19) 95.45%);

}

.princing-p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #E4E6EB;
}

.pricing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 10px;

}

.pricing-card {
    background: linear-gradient(0deg, rgb(33 33 33), rgb(26 26 26)), linear-gradient(129.66deg, rgba(44, 100, 241, 0.15) 1.55%, rgba(255, 255, 255, 0) 97.13%);
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    border-image-slice: 1;
    padding: 14px 30px 10px 30px;
    width: 33%;
    transition: transform 0.3s ease;
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.pricing-card h2 {
    margin-top: 0;
    color: #333;
}

.pricing-card p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .payment-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10%px;
    }
}

.pricing-card li {
    margin-bottom: 5px;
}

.pricing-card button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px),
(max-width: 1024px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        width: 90%;
        margin: 20px auto;
    }
}

.caard {
    background: linear-gradient(0deg, rgb(16 17 20 / 61%), rgb(19 25 40 / 95%)), linear-gradient(129.66deg, rgb(18 31 62) 1.55%, rgb(17 20 29) 97.13%);
    border-radius: 10px;
    border: 1px solid #ffffff5e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}