.paragraphsection {
  width: 80%;
  margin: auto;
}

.paragraphsection>p {
  color: #E4E6EB;
  font-size: 17px;
  font-weight: 500;
  line-height: 32px;
  align-items: center;
  text-align: center;
}

.Ads_div h4 {
  background-color: transparent;
  color: #F8B910;
}

.Ads_div p {
  color: #fff;
  line-height: 27px;
  margin-top: 14px;
  background-color: transparent;
}

/* Add media query for tablet screens */
@media (min-width: 768px) {
  .Ads_div {
    background-image: url('../../assets/images/Taieri.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
  }

  .Ads_div p {
    margin-top: 30px;
    padding-left: 150px;
    font-size: 16px;
    line-height: 32px;
    padding-left: 30%;
  }
}

/* Add media query for larger screens */
@media (min-width: 1024px) {
  .Ads_div {
    background-image: url('../../assets/images/Taieri.svg');
    background-repeat: no-repeat;
    padding: 46px;
  }

  .Ads_div p {
    margin-top: 30px;
    padding-left: 27%;
    font-size: 16px;
    line-height: 32px;
  }
}