
.counter_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 80%;
    margin: auto;
}

@media (max-width:1000px) {
    .counter_wrapper {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width:450px) {
    .counter_wrapper {
        grid-template-columns: repeat(1, 1fr);

    }
}

.counter {
    padding: 60px 0 120px;
}