/* .Ads_div {
    background-color: #0F49CC;
    height: 235px;
    padding: 46px;
    background-image: url('../../assets/images/Taieri.svg');
    background-repeat: no-repeat;
    border-radius: 12px;
}

.Ads_div h4 {
    background-color: transparent;
    color: #F8B910;
}

.Ads_div p {
    color: #fff;
    line-height: 27px;
    margin-top: 14px;
    padding-left: 200px;
    background-color: transparent;
} */